body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #6938d3;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b2cbf;
  height: 50px;
}

nav h1 {
  margin: 0;
  align-items: center;
}
.popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f9ed69;
  border: 1px solid #f08a24;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup-visible {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f9ed69;
  border: 1px solid #f08a24;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup-visible a {
  color: #f08a24;
  text-decoration: underline;
}

.popup-visible a:hover {
  color: #db6c11;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

#stories-container,
#jobs-container,
#polls-container,
#comments-container {
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0px 0px 10px #c5c5c5;
  flex: 1;
  margin-right: 20px;
}

#stories-container h2,
#jobs-container h2,
#polls-container h2,
#comments-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#stories-container a {
  color: #7b3fff;
  text-decoration: none;
}

#stories-container a:hover {
  text-decoration: underline;
}
